body {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    color: rgba(51, 24, 50, 1);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.text, h1, p {
    color: rgba(51, 24, 50, 1);
    text-align: center;
    line-height: normal;
}

h1 {
    text-align: left;
    font-size: 36px;
    font-weight: 400;
}
h2 {
    font-size: 32px;
    font-weight: 400;
}

h3 {
    font-size: 24px;
    font-weight: 400;
}

h4 {
    font-size: 16px;
    font-weight: 400;
}

h5 {
    font-size: 20px;
}


p {
    font-size: 12px;
    font-weight: 400;
}


.info-two p, .info-four p, .info-six p {
    text-align: left;

}

.more {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.vector1 {
    width: 56px;
    height: 24px;
}

img {
    width: px;
    height: 600px;
    object-fit: cover;
}
