{% extends 'base.html' %}
{% block content %}

{#    <div class="background-wrappers">#}
{#        <div class="word">#}
{#            <div class="letter" data-text="M">M</div>#}
{#            <div class="letter" data-text="Y">Y</div>#}
{#        </div>#}
{#        <div class="word">#}
{#            <div class="letter" data-text="MM">M</div>#}
{#            <div class="letter" data-text="E">E</div>#}
{#            <div class="letter" data-text="MMM">M</div>#}
{#            <div class="letter" data-text="O">O</div>#}
{#            <div class="letter" data-text="R">R</div>#}
{#            <div class="letter" data-text="I">I</div>#}
{#            <div class="letter" data-text="E">E</div>#}
{#            <div class="letter" data-text="S">S</div>#}
{#        </div>#}
{#    </div>#}

{% endblock %}
